
html,body {
  width: 100%;
  height:100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;


}


.carousel-inner  {
   height: 550px;
   width:  2400px;

}

.form-control{
   margin-right: 22px;
}
.header{

	position: fixed;


}

.bgcolour{


}


p.logotext{
	position: fixed;


	font-size:30px;
  color:rgb(83,83,83);
	font-style:bold;
   font-family: 'Sofia';

}

.formhead{
  font-size:20px;
  text-align: center;
}
.logopic{
	position: fixed;

  bottom:0px;

}

#upperbar{
	display:inline-block;
	left:1280px;
	font-size:19px;
	bottom:140px;

}
#upperbar a:hover{
  color:green;
  background-color:rgb(230, 230, 230);
}

#upperbar2{
	float:right;
	display:inline-block;
	left:1280px;
	font-size:19px;
	bottom:140px;
	color:rgb(64, 64, 64);
}

#upperbar2 a:hover{
  color:green;
  background-color:rgb(230, 230, 230);

}

.movetext{
	position:relative;

  /*background-color:black;*/
	color:white;
	font-size: 16px;
}

.first_title{
	position: relative;
  text-align:center;
	top:20px;
  left:465px;
	font-size:20px;

}


#instruct_title{
  text-align: center;

	font-size:20px;
}



#list_content{
	color:black;
	font-weight:bold;
	font-size:20px;
}



.firstbox{
	position: relative;
  left:290px;
  color:white;
  font-family: 'Corben', Georgia, Times, serif;

	top:0px;

	width:1250px;
  border:10px solid black;
	padding:20px;
  margin:20px;
}

#form_format{

	font-size:20px;
	position: relative;

	top:4px;
	width:700px;
	border:10px solid black;
	border-radius:4px;
	padding:20px;
	margin:10px;
  background-color: white;
}

#returnval{
  position: relative;
	font-size:20px;
	font-family: 'Corben', Georgia, Times, serif;

	left: 150px;
	bottom:2px;
	height:600px;
	width:1577px;
  background-color: white;
border:10px solid ;
	border-radius:4px;
	padding:10px;
	margin:5px;
display: none;

}
#subtitle{
  text-align:center;
	font-family: 'Corben', Georgia, Times, serif;
}

#subvalue{

	position:relative;
  font-size:20px;
	font-family: 'Corben', Georgia, Times, serif;
	left: 150px;
	bottom:2px;
	height:510px;
	width:1577px;
  background-color: white;
	border:10px solid ;
	border-radius:4px;
	padding:10px;
	margin:5px;
  display: none;

}

#subvalue2{
	font-size:20px;
	position: relative;
	font-family: 'Corben', Georgia, Times, serif;
	left: 1300px;
  bottom: 445px;
	height:420px;
	width:400px;

  background-color: white;
	border-radius:2px;
	padding:20px;
	margin:10px;
  display: none;

}
.webfooter{
  color:white;
  bottom:100px;
  width:100%;
}
#footerp1{
  font-size:50px;
  text-align: right;
  font-style: italic;
}
.logotextt{
	position:relative;

  left:20px;
	font-size:30px;
  color:white;
	font-style:bold;
   font-family: 'Sofia';

}
p.logotextt2{
	position:relative;


	font-size:15px;
  color:white;
	font-style:bold;
   font-family: 'Sofia';

}
ul.social li{
  font-size: 19px;
  display:inline;
  float: right;
  font-family: sans-serif;

}
.social a {

  color: white;


  text-decoration: none;
  font-size: 18px;
  line-height: 25px;

}
.social a:hover {
  background-color: white;
  color: black;
}
